.title {
	font-family: "Montserrat";
	font-size: 2.3vw;
	font-weight: 700;
}

.dates {
	font-family: "Lato";
	font-weight: 300;
	font-size: 2.3vw;
}

.row {
	margin: 0;
}

.container {
	width: 100%;
}

.skills-tab h5 {
	font-family: "Lato";
	color: #ecf0f1;
	letter-spacing: 1px;
}

.skills-tab h6 {
	font-family: "Lato";
	font-weight: 300;
	color: #ecf0f1;
	text-align: left;
	padding-left: 5%;
	letter-spacing: 1px;
}

.skill {
	height: 7px;
	width: 90%;
	margin: auto;
	background: rgb(236,240,241); /* Old browsers */
	border-color: rgba(236, 240, 241, .2);
	border-width: 1px 0;
	border-style: none;
}

.skill-1 {
	background: -moz-linear-gradient(left,  rgba(236,240,241,1) 0%, rgba(99,102,106,1) 20%, rgba(99,102,106,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(236,240,241,1) 0%,rgba(99,102,106,1) 20%,rgba(99,102,106,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(236,240,241,1) 0%,rgba(99,102,106,1) 20%,rgba(99,102,106,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#63666a',GradientType=1 ); /* IE6-9 */
}

.skill-2 {
	background: -moz-linear-gradient(left,  rgba(236,240,241,1) 0%, rgba(236,240,241,1) 20%, rgba(99,102,106,1) 40%, rgba(99,102,106,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(236,240,241,1) 0%,rgba(236,240,241,1) 20%,rgba(99,102,106,1) 40%,rgba(99,102,106,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(236,240,241,1) 0%,rgba(236,240,241,1) 20%,rgba(99,102,106,1) 40%,rgba(99,102,106,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#63666a',GradientType=1 ); /* IE6-9 */
}

.skill-3 {
	background: -moz-linear-gradient(left,  rgba(236,240,241,1) 0%, rgba(236,240,241,1) 40%, rgba(99,102,106,1) 60%, rgba(99,102,106,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(236,240,241,1) 0%,rgba(236,240,241,1) 40%,rgba(99,102,106,1) 60%,rgba(99,102,106,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(236,240,241,1) 0%,rgba(236,240,241,1) 40%,rgba(99,102,106,1) 60%,rgba(99,102,106,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#63666a',GradientType=1 ); /* IE6-9 */
}

.skill-4 {
	background: -moz-linear-gradient(left,  rgba(236,240,241,1) 0%, rgba(236,240,241,1) 60%, rgba(99,102,106,1) 80%, rgba(99,102,106,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(236,240,241,1) 0%,rgba(236,240,241,1) 60%,rgba(99,102,106,1) 80%,rgba(99,102,106,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(236,240,241,1) 0%,rgba(236,240,241,1) 60%,rgba(99,102,106,1) 80%,rgba(99,102,106,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#63666a',GradientType=1 ); /* IE6-9 */
}

.skill-5 {
	background: -moz-linear-gradient(left,  rgba(236,240,241,1) 0%, rgba(236,240,241,1) 80%, rgba(99,102,106,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(236,240,241,1) 0%,rgba(236,240,241,1) 80%,rgba(99,102,106,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(236,240,241,1) 0%,rgba(236,240,241,1) 80%,rgba(99,102,106,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#63666a',GradientType=1 ); /* IE6-9 */
}

section {
	background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 10% 0;
}

#blend {
	background-image: url(../img/experience/blend.jpg);
	color: #211e16;
}

#blend:hover {
	background-image: url(../img/experience/blendcolor.jpg);
	color: #211e16;
}

#d21 {
	background-image: url(../img/experience/d21.jpg);
	color: #ecf0f1;
}

#d21:hover {
	background-image: url(../img/experience/d21color.jpg);
	color: #ecf0f1;
}

#nearpod {
	background-image: url(../img/experience/nearpod.jpg);
	color: #211e16;
}

#nearpod:hover {
	background-image: url(../img/experience/nearpodcolor.jpg);
	color: #211e16;
}

#kairos {
	background-image: url(../img/experience/kairos.jpg);
	color: #ecf0f1;
}

#kairos:hover {
	background-image: url(../img/experience/kairoscolor.jpg);
	color: #ecf0f1;
}

#treehacks {
	background-image: url(../img/experience/treehacks.jpg);
	color: #211e16;
}

#treehacks:hover {
	background-image: url(../img/experience/treehackscolor.jpg);
	color: #211e16;
}

#janestreet {
	background-image: url(../img/experience/janestreet.jpg);
	color: #ecf0f1;
}

#janestreet:hover {
	background-image: url(../img/experience/janestreetcolor.jpg);
	color: #ecf0f1;
}

#bloomberg {
	background-image: url(../img/experience/bloomberg.jpg);
	color: #211e16;
}

#bloomberg:hover {
	background-image: url(../img/experience/bloombergcolor.jpg);
	color: #211e16;
}

#stanford2025 {
	background-image: url(../img/experience/stanford2025.jpg);
	color: #ecf0f1;
}

#stanford2025:hover {
	background-image: url(../img/experience/stanford2025color.jpg);
	color: #ecf0f1;
}

#stanford {
	background-image: url(../img/experience/stanford.jpg);
	color: #211e16;
}

#stanford:hover {
	background-image: url(../img/experience/stanfordcolor.jpg);
	color: #211e16;
}

#waterresearch {
	background-image: url(../img/experience/waterresearch.jpg);
	color: #ecf0f1;
}

#waterresearch:hover {
	background-image: url(../img/experience/waterresearchcolor.jpg);
	color: #ecf0f1;
}