.modal-header {
	background-color: #63666A;
}

.modal-header h4 {
	color: #ecf0f1;
}

.modal-body {
	background-color: #63666A;
}

.close {
	color: #ecf0f1;
}

.close:hover {
	color: #fff;
}

.modal-title {
	font-family: "Lato";
	font-weight: 100;
	font-size: 2vw;
	color: #ecf0f1;
}

.job-body p {
	font-family: "Lato";
	font-weight: 300;
	text-align: left;
	line-height: 1.8;
	color: #ecf0f1;
	margin-bottom: 0;
}

.job-body a {
	color: #ecf0f1;
	font-weight: 700;
}

@media (max-width: 768px) {
	.modal-title {
		font-size: 14px;
	}
	.job-body {
		font-size: 12px;
	}
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 50%;
	}
}